body {
  background-color: grey;
  margin-top: 30px;
}


.stockName {
  border: 2px solid white;
  border-radius: 2px;
  width: 150px;
  height: 70px;
  margin-top: 20px;
  font-size: 10px;
  padding: 2px 2px 2px 5px ;
  color: black;
  background-color: lightgrey;
 }



 #search {
   color: white;
 }

#chart-container {
  max-height: 500px;
  max-width: 100%;
  margin-left:20px;
  margin-right:20px;

}

#infoText {
  border: solid 2px white;
  border-radius: 5px;
  background-color: white;
  color: rgb(143, 11, 34);
  font-size: 12px;
  font-weight: bold;
  margin: 10px;

}

.borderColor {
  border: 2px solid rgb(32, 230, 15);
}
